@use "/src/common/styles/color" as colors;
@use "/src/common/styles/template" as *;
@use "/src/common/styles/mixin" as mx;

.container {
  text-align: center;
  width: 400px;
  align-items: center;
  margin: auto;
  padding: 1em;
  background-color: colors.$color-main;
  color: colors.$color-text;
}
.btn {
  @extend .standard_btn;
}
.input {
  color: colors.$color-main;
  background-color: colors.$color-text;
  @extend %standard_wrapper;
  @include mx.border-radius(15px);
}
